<img style="width:100%;height:10em;border:grey solid 1px;" src="./assets/logo2.png"/>
<div style="border:#E8E8E8 solid 0.2px;position:absolute;height:3em;width:30%;margin-left:50%;margin-top:-2em;background-color: white;font-size: 2.5em;font-weight:800;">15 inspiring articles that you must</div>
<div style="margin-top:10%;margin-left: 20%;padding-left:10%;border-left:#C8C8C8 solid 1px;" [innerHtml]="blogHtml"></div>

<video style="margin-top:10%;margin-left: 20%;" width="320" height="240" controls>
    <source src="movie.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
    Your browser does not support the video tag.
  </video>