<img style="width:100%;height:50em;border:grey solid 1px;" src="./assets/logo2.png"/>
<div style="border:#E8E8E8 solid 0.2px;position:absolute;height:3em;width:30%;margin-left:50%;margin-top:-2em;background-color: white;font-size: 2.5em;font-weight:1500;">{{blogTopic}}</div>

<div  style="margin-top:10%;margin-left: 20%;padding-left:10%;border-left:#C8C8C8 solid 1px;">
 
  <div style="float: left; clear: left;margin-right:2%;" *ngIf="videoUrl">
    <iframe height="250" width="400" scrolling="no" frameborder="0" float="left"
    [src]="videoUrl">
    </iframe>
  </div>
  <div [innerHtml]="blogHtml"></div> 
</div>

 