<div style="height:45%;width:45%;
background-color: black;
margin-left:30%;
z-index:10;
margin-top:20%;
max-height:300px;
overflow-y: auto;
position:absolute;">
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola
    hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola hola

</div>
